.header{
    background: #131913;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0px 20px;
    margin-top: 18px;
}
.header__search{
    display: flex;
    flex: 1;
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__searchicon{
padding: 5px;    
height: 22px !important;
background-color:#cd9042;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__link{
    text-decoration: none;
    color: white;
}
.header__options{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header__optionLine1{
    font-size: 10px;
}

.header__optionLine2{
    font-size: 13px;
    font-weight: 800;
}
.header__cart{
    display: flex;
    align-items: center;

}
.header__count{
    margin-left: 10px;
    margin-right: 10px;
}